body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top {
  display: flex;
  flex-direction: row;
}

.top-left {
  flex: 1;
  flex-direction: row;
  min-width: 100px;
	justify-content: flex-start;
	align-items: center;
}

.top-middle {
  flex: 2;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  justify-content: space-between;
}

.top-right {
  flex: 1;
  min-width: 100px;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

.input {
  margin-top: 20px;
}

.close-button {
  position: static;
  left: 340px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.action-buttons .left {
  flex-direction: row;
  margin-right: 15px;
}

.action-buttons .right {
  flex-direction: row;
}

.empty-modal {
  margin-top: 30px;
}